
:root{
  --color: #0C3934;
  --bg: #fff;

  /* Grid */
  --gutter: 10px;
  --columns: 12;
}

body{
  background-color: var(--bg);
  font: normal 1em/1.5 "Roboto", sans-serif
}

.container {
  max-width: 1140px;
  margin: 3em auto;
  padding: var(--gutter);
}

*{
  box-sizing: border-box;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gutter) - ( var(--gutter) * 2) ) 20px;
}

[class*="m--"]{
  @for $i from 1 through 12 {
    &.m--#{$i} {
      padding-right: calc(var(--gutter));
      padding-left: calc(var(--gutter));
      flex-basis: calc((100% / var(--columns)) * #{$i});
    }
  }
}

.demo{
  display: block;
  background-color: var(--color);
  text-align: center;
  color: #fff;
  line-height: 3em;
  & a{
    background: #000;
  }
}

.reflection {
  position: relative;
  width: 300px;
  height: 215px;
  margin: 50px auto;
}
.reflection-text {
  font: 1.2em sans-serif;
  position: absolute;
  right: 0; bottom: 20px;
  margin: 0;
  padding: 10px;
  background: rgba(255,255,255,.6);
  color: #000;
  transition: padding .3s;
}
.reflection:hover .reflection-text {
  padding-right: 50px;
}

/* reflection the standard way (detecting support) */
@supports (background: -moz-element(#css-element)) {
  .reflection::after{
    content: '';
    position: absolute;
    left: 0; top: 100%;
    width: inherit; height: inherit;
    background: -moz-element(#css-element);
    transform: scaleY(-1);
    mask: url('#mask');
    opacity: .3;
  }
}

/* reflection the old WebKit way */
.reflection {
  -webkit-box-reflect: below 0 linear-gradient(transparent 50%, rgba(0,0,0,.3));
}