{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/public/css/index.css">
<script src="https://cdn.bootcss.com/systemjs/0.21.0/system.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>

<script src="/dist/app.js?v=326b6a544b34e48af411"></script>

{% endblock %}

{% block content %}
<form method="get" action="/addSupport">
    用户名：<input type="text" name="username" id="username" value="{{username}}" /><br/>
    点击数：<input type="text" name="num" id="num" value="{{num}}" />
    <input type="submit" value="提交">
</form>
<x-clock></x-clock>
<x-praise></x-praise>
<div class="support-background"></div>
<script>
//    var thumb = null;
//    function clickFn(){
//        $('#num').val(parseInt($('#num').val())+1);
//        axios.get('/index/update', {
//                    params: {
//                        username: $('#username').val(),
//                        num: $('#num').val()
//                    }
//                })
//                .then(function (response) {
//                    thumb.addAnimation();
//                })
//                .catch(function (error) {
//                    console.log(error);
//                });
//
//    }
//    SystemJS.import('/dist/Thumb.js').then(function (m) {
//        //因为不是用jquery写的，所以如果写成fn的函数的话还要再改代码，所以就直接写成jquery的方法了
//        $.Thumb = function(opt){
//            return new m.default(opt);
//        }
//        let opt = {
//            container: '.support-background',
//            callback: clickFn
//        };
//        thumb = $.Thumb(opt);
//    });

//    xtag.create('x-clock', class extends XTagElement {
//        connectedCallback () {
//            this.start();
//        }
//        start (){
//            this.update();
//            this._interval = setInterval(() => this.update(), 1000);
//        }
//        stop (){
//            this._interval = clearInterval(this._data.interval);
//        }
//        update (){
//            this.textContent = new Date().toLocaleTimeString();
//        }
//        'tap::event' (){
//            if (this._interval) this.stop();
//            else this.start();
//        }
//    });
</script>

{% endblock %}